about-time
alive-progress
asgiref
certifi
charset-normalizer
click
colorama
crispy-bootstrap5
cssbeautifier
distlib
dj-database-url
Django
django-crispy-forms
django-environ
djlint
EditorConfig
Faker
filelock
grapheme
html-tag-names
html-void-elements
idna
jsbeautifier
json5
markdown-it-py
mdurl
MouseInfo
pathspec
pillow
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
Pygments
PyMsgBox
pyperclip
PyRect
PyScreeze
python-dateutil
pytweening
PyYAML
regex
requests
rich
six
sqlparse
tabulate
tqdm
typing_extensions
tzdata
urllib3